<div class="container">
    <br>
    <h2>Enter the Name:</h2>
    <input type="text" [(ngModel)]="name" class="name">
    <h1>
     <p> Hello  {{name}}  How are you doing today? </p>
    </h1>
</div>


<div class="container">

   <div class="row">
       <div class="col-xs-12">
        <hr>
          <div app-success></div>
       </div>
    </div>  

        <div class="row">
       <div class="col-xs-12">
        <hr>
          <app-warnings></app-warnings>
       </div>
    </div>  
     
</div>

<div class="container">
      <h3> Data Binding examples..!!</h3>
      <div class="row">
        <div class="col-xs-12">
            <hr>
            <!-- <div app-servers></div> -->
            <div class="app-servers"></div>
            
        </div>
    </div>

</div>